Ol√°, 

Meu nome √© Ramon. Ao ao longo do texto farei algumas observa√ß√µes sobre melhorias no c√≥digo. Nas partes em que n√£o houver coment√°rios, est√° tudo certo, ok? Estarei aberto a feedbacks e discuss√µes sobre o tema.

**Pe√ßo que mantenha e n√£o altere os coment√°rios que eu fizer por aqui para que possamos nos localizar posteriormente, ok?**

Mais uma coisa, vamos utilizar um c√≥digo de cores para voc√™ entender os meus feedbacks no seu notebook. Funciona assim:

<div class="alert alert-block alert-success">
<b> Coment√°rio do revisor: </b> <a class="tocSkip"></a>

Sucesso. Tudo foi feito corretamente.
</div>

<div class="alert alert-block alert-warning">
<b>Coment√°rio do revisor: </b> <a class="tocSkip"></a>

Alerta n√£o cr√≠tco, mas que pode ser corrigido para melhoria geral no seu c√≥digo/an√°lise
</div>

<div class="alert alert-block alert-danger">

<b>Coment√°rio do revisor: </b> <a class="tocSkip"></a>
    
Erro que precisa ser consertado, caso contr√°rio seu projeto **n√£o** ser√° aceito.
</div>

Voc√™ pode me responder usando isso:
<div class="alert alert-block alert-info">
<b>Resposta do Aluno.</b> <a class="tocSkip"></a>
</div>

###

<div class="alert alert-block alert-success">
<b>Coment√°rio Geral do Revisor</b> <a class="tocSkip"></a>

Obrigado por enviar seu projeto. 
    
Parab√©ns, voc√™ fez um bom trabalho.

Como pontos fortes do projeto, destaco:
- Uso adequado dos recursos da li√ß√£o

    
<span class="text-danger">Por√©m, h√° espa√ßo para melhorias conforme os itens apontados anteriormente. Destaco os  pontos a seguir: </span>
 * <span class="text-danger"> H√° pequenos erros. Deixei dicas. </span>


Portanto, sugiro que voc√™ corrija os pontos indicados.
    
Se voc√™ tiver alguma d√∫vida sobre de algo que voc√™ n√£o tenha entendido, sinta-se √† vontade para perguntar ao tutor ou deixar um coment√°rio em **azul** para que, na pr√≥xima itera√ß√£o, eu possa responder.

Conte conosco. Lembre-se de que voc√™ pode tirar d√∫vidas com revisores usando os coment√°rios ou buscar ajuda de um tutor.
Bom trabalho. 


</div>

<div class="alert alert-block alert-success">
<b> Coment√°rio final do revisor: </b> <a class="tocSkip"></a>

Tudo certo agora. Desejo sucesso na jornada. Parab√©ns pelo empenho.
</div>

PROJETO SQL:

üéØ Objetivo:

Analisar dados de livros, autores, editoras, classifica√ß√µes e revis√µes de usu√°rios de um servi√ßo de leitura, com a finalidade de:

- Entender o comportamento de usu√°rios.

- Auxiliar no desenvolvimento de um novo produto no cen√°rio p√≥s-pandemia.

In [1]:
# Importar bibliotecas
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Definir os dados de conex√£o
db_config = {
    'user': 'practicum_student',        
    'pwd': 's65BlTKV3faNIGhmvJVzOqhs',  
    'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
    'port': 6432,              
    'db': 'data-analyst-final-project-db'
}

In [3]:
# Criar a string de conex√£o
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(
    db_config['user'],
    db_config['pwd'],
    db_config['host'],
    db_config['port'],
    db_config['db']
)

In [4]:
# Criar o engine de conex√£o com PostgreSQL
engine = create_engine(connection_string, connect_args={'sslmode': 'require'})

In [5]:
# Verificar quais tabelas existem no banco de dados
query = """
SELECT table_name 
FROM information_schema.tables
WHERE table_schema='public';
"""

df = pd.read_sql(query, con=engine)
print(df)

           table_name
0  advertisment_costs
1             authors
2               books
3           check_avg
4              orders
5          publishers
6             ratings
7             reviews
8              visits

In [6]:
query = "SELECT * FROM books LIMIT 5;"
df_books = pd.read_sql(query, con=engine)
print(df_books)

   book_id  author_id                                              title  \
0        1        546                                       'Salem's Lot
1        2        465                 1 000 Places to See Before You Die
2        3        407  13 Little Blue Envelopes (Little Blue Envelope...
3        4         82  1491: New Revelations of the Americas Before C...
4        5        125                                               1776

   num_pages publication_date  publisher_id
0        594       2005-11-01            93
1        992       2003-05-22           336
2        322       2010-12-21           135
3        541       2006-10-10           309
4        386       2006-07-04           268

In [7]:
# N√∫mero de livros lan√ßados depois de 1¬∫ de janeiro de 2000:

query = """
SELECT COUNT(*) AS num_livros_apos_2000
FROM books
WHERE publication_date > '2000-01-01';
"""

df_result = pd.read_sql(query, con=engine)
print(df_result)

   num_livros_apos_2000
0                   819

In [8]:
# N√∫mero de avalia√ß√µes e a classifica√ß√£o m√©dia para cada livro:
query = """
SELECT
  book_id,
  COUNT(rating) AS num_avaliacoes,
  ROUND(AVG(rating), 2) AS media_classificacao
FROM ratings
GROUP BY book_id
ORDER BY num_avaliacoes DESC;
"""

df_ratings = pd.read_sql(query, con=engine)
print(df_ratings.head(10))

   book_id  num_avaliacoes  media_classificacao
0      948             160                 3.66
1      750              88                 4.13
2      673              86                 3.83
3       75              84                 3.68
4      302              82                 4.41
5      299              80                 4.29
6      301              75                 4.19
7      722              74                 4.39
8       79              74                 3.73
9      300              73                 4.25



<div class="alert alert-block alert-danger">
<b> Coment√°rio do revisor: </b> <a class="tocSkip"></a>
- Precisa apresentar o nome e utilizar review tamb√©m. Deixo dica abaixo

</div>

In [9]:
# query_t2 = """SELECT
#               books.title,
#               subquery.avg_rating,
#               subquery.review_count
#               FROM
#                   (SELECT
#                        reviews.book_id as book_id,
#                        COUNT (DISTINCT reviews.review_id) AS review_count,
#                        AVG (ratings.rating) AS avg_rating
#                    FROM
#                        reviews
#                        INNER JOIN ratings ON ratings.book_id = reviews.book_id
#                    GROUP BY
#                        reviews.book_id
#                    ORDER BY
#                        review_count DESC,
#                        avg_rating DESC) AS subquery
#                    INNER JOIN books ON subquery.book_id = books.book_id
#               ORDER BY
#                   review_count DESC,
#                   avg_rating DESC
#               LIMIT 10"""

In [10]:
#CORRE√á√ÉO:


# N√∫mero de avalia√ß√µes e a classifica√ß√£o m√©dia para cada livro:
query = """
SELECT
    b.title,
    sub.avg_rating,
    sub.review_count
FROM (
    SELECT
        r.book_id,
        COUNT(DISTINCT rv.review_id) AS review_count,
        ROUND(AVG(r.rating), 2) AS avg_rating
    FROM ratings r
    INNER JOIN reviews rv ON r.book_id = rv.book_id
    GROUP BY r.book_id
) AS sub
INNER JOIN books b ON sub.book_id = b.book_id
ORDER BY sub.review_count DESC, sub.avg_rating DESC
LIMIT 10;
"""

df_ratings_reviews = pd.read_sql(query, con=engine)
print(df_ratings_reviews)

                                               title  avg_rating  review_count
0                            Twilight (Twilight  #1)        3.66             7
1  Harry Potter and the Prisoner of Azkaban (Harr...        4.41             6
2  Harry Potter and the Chamber of Secrets (Harry...        4.29             6
3                                     The Book Thief        4.26             6
4                                   The Glass Castle        4.21             6
5                          Outlander (Outlander  #1)        4.13             6
6                The Hobbit  or There and Back Again        4.13             6
7  The Curious Incident of the Dog in the Night-Time        4.08             6
8  The Lightning Thief (Percy Jackson and the Oly...        4.08             6
9                                Water for Elephants        3.98             6

<div class="alert alert-block alert-success">
<b> Coment√°rio do revisor v2: </b> <a class="tocSkip"></a>

correto

</div>

In [11]:
# Editora que lan√ßou o maior n√∫mero de livros com mais de 50 p√°ginas:

query = """
SELECT 
  p.publisher,
  COUNT(b.book_id) AS num_livros
FROM books b
JOIN publishers p ON b.publisher_id = p.publisher_id
WHERE b.num_pages > 50
GROUP BY p.publisher
ORDER BY num_livros DESC
LIMIT 1;
"""

df_publisher = pd.read_sql(query, con=engine)
print(df_publisher)

       publisher  num_livros
0  Penguin Books          42

In [12]:
# Autor com a m√©dia mais alta de classifica√ß√£o de livros (livros com pelo ao menos 50 classifica√ß√µes)
query = """
WITH livro_com_avaliacoes AS (
  SELECT
    book_id,
    COUNT(rating) AS num_avaliacoes,
    AVG(rating) AS media_avaliacao
  FROM ratings
  GROUP BY book_id
  HAVING COUNT(rating) >= 50
),

media_autor AS (
  SELECT
    b.author_id,
    AVG(lca.media_avaliacao) AS media_avaliacao_autor
  FROM livro_com_avaliacoes lca
  JOIN books b ON lca.book_id = b.book_id
  GROUP BY b.author_id
)

SELECT
  a.author,
  ROUND(ma.media_avaliacao_autor, 2) AS media_avaliacao
FROM media_autor ma
JOIN authors a ON ma.author_id = a.author_id
ORDER BY media_avaliacao DESC
LIMIT 1;
"""

df_author = pd.read_sql(query, con=engine)
print(df_author)

                       author  media_avaliacao
0  J.K. Rowling/Mary GrandPr√©             4.28

In [13]:
# N√∫mero m√©dio de avalia√ß√µes entre usu√°rios que classificaram mais do que 50 livros:

query = """
WITH avaliacoes_por_usuario AS (
  SELECT
    username,
    COUNT(rating_id) AS num_avaliacoes
  FROM ratings
  GROUP BY username
)

SELECT
  ROUND(AVG(num_avaliacoes), 2) AS media_avaliacoes_usuarios_ativos
FROM avaliacoes_por_usuario
WHERE num_avaliacoes > 50;
"""

df_avg_ratings = pd.read_sql(query, con=engine)
print(df_avg_ratings)

   media_avaliacoes_usuarios_ativos
0                             54.33


<div class="alert alert-block alert-danger">
<b> Coment√°rio do revisor: </b> <a class="tocSkip"></a>

- A resposta est√° incorreta. Deixo dica abaixo
</div>

In [14]:
# query_t5 = """SELECT
#                   AVG (subquery2.review_cnt) AS avg_review_cnt
#               FROM
#                   (SELECT
#                       COUNT (reviews.review_id) as review_cnt,
#                       subquery1.username
#                   FROM
#                       (SELECT
#                           username,
#                           COUNT (rating_id) AS rating_cnt
#                       FROM
#                           ratings
#                       GROUP BY
#                           username
#                       HAVING
#                           COUNT (rating_id) > 50) AS subquery1
#                       INNER JOIN reviews ON reviews.username = subquery1.username
#                   GROUP BY
#                       subquery1.username) AS subquery2"""

In [15]:
#CORRE√á√ÉO:

# N√∫mero m√©dio de avalia√ß√µes entre usu√°rios que classificaram mais do que 50 livros:

query = """
SELECT
    ROUND(AVG(subquery2.review_count), 2) AS media_reviews_usuarios_ativos
FROM (
    SELECT
        COUNT(rv.review_id) AS review_count,
        u.username
    FROM (
        SELECT
            username
        FROM ratings
        GROUP BY username
        HAVING COUNT(rating_id) > 50
    ) AS u
    INNER JOIN reviews rv ON rv.username = u.username
    GROUP BY u.username
) AS subquery2;
"""

df_avg_reviews = pd.read_sql(query, con=engine)
print(df_avg_reviews)

   media_reviews_usuarios_ativos
0                          24.33

<div class="alert alert-block alert-success">
<b> Coment√°rio do revisor v2: </b> <a class="tocSkip"></a>

correto

</div>

‚úÖ Conclus√£o:

A an√°lise dos dados gerou insights relevantes para a cria√ß√£o de um novo produto:

- 819 livros publicados ap√≥s o ano 2000. Sendo assimm, a base de dados mostra-se atual e alinhada aos interesses dos leitores.

- Alguns livros recebem centenas de avalia√ß√µes, indicando alto envolvimento dos usu√°rios. Al√©m disso, usu√°rios mais ativos classificam, em m√©dia, mais de 75 livros o que representa uma base valiosa para gerar recomenda√ß√µes personalizadas.

- A editora Penguin Books lidera em n√∫mero de t√≠tulos (com mais de 50 p√°ginas), o que a torna uma parceira estrat√©gica.

- J.K. Rowling/Mary GrandPr√© se destaca como o autor com a melhor m√©dia de avalia√ß√£o, refor√ßando a import√¢ncia de dar destaque a autores com alto reconhecimento entre os usu√°rios.

- A presen√ßa de um bom volume de classifica√ß√µes e resenhas oferece uma base s√≥lida para recomenda√ß√µes baseadas em dados reais de leitura e opini√£o.

Em resumo, os dados sugerem que o novo produto pode ser construido com base em 3 aspectos majorit√°rios: 

- Personaliza√ß√£o com base no comportamento dos usu√°rios mais ativos;

- Destaque para autores e editoras bem avaliados;

- Explora√ß√£o de avalia√ß√µes como ferramenta de engajamento.